body{
    background-image: url(bg.jpg);
    
}
.container{
    margin-top: 50px;
}

.d-grid{
    margin-top: 60px;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    
}
.ligne1{
    border-bottom: solid;
    border-color: orange;
    margin-left: 70px;
}
.ligne2{
    border-bottom: solid;
    border-color: yellow;
    
}
.ligne3{
    border-bottom: solid;
    border-color: green;
   
    
}
.div{
    padding-top: 10px;
   margin-top: 20px;
  padding-left: 10px;
}
.bouton{
    background-color: orange;
    color: white;
    margin-bottom: 5px;
    border: 1px solid ;

}
.bouuton{
    background-color: rgb(240, 240, 41);
    color: white;
    margin-bottom: 5px;
    border: 1px solid ;
}
.place-boutun{
    position: relative;
    left: 220px;
}
.border-orange {
    border: 1px solid orange;
}
.border-yellow{
    border: 1px solid yellow;  
}
.border-green{
    border: 1px solid green;
}