body{
    background-image: url(bakgg.jpg);
    
}

.d-grid{
    
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    
}
.ligne1{
    border-bottom: solid;
    border-color: orange;
    
}
.ligne2{
    border-bottom: solid;
    border-color: yellow;
    
}
.ligne3{
    border-bottom: solid;
    border-color: green;
       
}

.border-orange {
    border: 1px solid orange;
}
.border-yellow{
    border: 1px solid yellow;  
}
.border-green{
    border: 1px solid green;
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    width: 100%; 
    height: 100%; 
    
  }
  
  .modal-content {
    background-color: #08303dac;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%; 
  }
  